<form class="customer-form">
  <label for="first-name" id="name" class="first-name">First Name</label>
  <input class="name" type="text" required />
  <br />
  <label for="last-name" id="name" class="last-name">Last Name</label>
  <input class="name" type="text" required />
  <br />
  <label for="card-number" id="card-number" class="card-number"
    >Card Number</label
  >
  <input class="number" type="number" required />
  <br />
  <label for="expiration-date" id="expiration-date" class="expiration-date"
    >Expiration</label
  >
  <input class="expiration-date" type="number" required />
  <br />
  <label for="cvv" id="cvv" class="cvv">CVV</label>
  <input class="cvv" type="number" required />
  <br />
  <div class="customer-form">
    <label for="flavors" id="flavors">Select Flavor</label>
    <select></select>
  </div>
</form>
