<form (ngSubmit)="onSubmit()" #purchaseForm="ngForm" class="customer-form">
  <label for="first-name" id="name" class="first-name">First Name</label>
  <input
    class="name"
    type="text"
    required
    [(ngModel)]="model.firstName"
    name="name"
    #name="ngModel"
  />
  <div [hidden]="name.valid || name.pristine" class="alert">
    Please enter a valid name
  </div>
  <br />
  <label for="last-name" id="name" class="last-name">Last Name</label>
  <input
    class="name"
    type="text"
    required
    [(ngModel)]="model.lastName"
    name="last-name"
    #lastName="ngModel"
  />
  <div [hidden]="lastName.valid || lastName.pristine" class="alert">
    Please enter a valid name
  </div>
  <br />
  <label for="card-number" id="card-number" class="card-number"
    >Card Number</label
  >
  <input
    class="number"
    type="number"
    required
    [(ngModel)]="model.cardNumber"
    name="cardNumber"
    #number="ngModel"
  />
  <div [hidden]="number.valid || number.pristine" class="alert">
    Please enter a valid number
  </div>
  <br />
  <label for="expiration-date" id="expiration-date" class="expiration-date"
    >Expiration</label
  >
  <input
    class="expiration-date"
    type="number"
    required
    [(ngModel)]="model.expiration"
    name="expiration"
    #expiration="ngModel"
  />
  <div [hidden]="expiration.valid || expiration.pristine" class="alert">
    Please enter a valid number
  </div>
  <br />
  <label for="cvv" id="cvv" class="cvv">CVV</label>
  <input
    class="cvv"
    type="number"
    required
    [(ngModel)]="model.cvv"
    name="cvv"
    #cvv="ngModel"
  />
  <div [hidden]="cvv.valid || cvv.pristine" class="alert">
    Please enter a valid number
  </div>
  <br />
  <div class="customer-form">
    <label for="quantity" id="quantity">Select Quantity</label>
    <select class="quantity-selection" id="quantity-selection">
      <option *ngFor="let quantity of quantities" [value]="quantity">
        {{ quantity }}
      </option>
    </select>
    <label for="flavors" id="flavors">Select Flavor</label>
    <select class="flavors-selection" id="flavors-selection">
      <option *ngFor="let flavor of flavors" [value]="flavor">
        {{ flavor }}
      </option>
    </select>
    <button
      type="submit"
      class="purchased"
      [disabled]="!purchaseForm.form.valid"
    >
      Purchase
    </button>
  </div>
</form>
<div [hidden]="submitted">
  <h1>Thank You For Your Purchase!</h1>
  <h1
    class="customer-name"
    [(ngModel)]="model.firstName"
    name="name"
    #firstName="ngModel"
  >
    {{ model.firstName }}
  </h1>
  <h1
    class="customer-last-name"
    [(ngModel)]="model.lastName"
    name="last-name"
    #lastName="ngModel"
  >
    {{ model.lastName }}
  </h1>
</div>
