.title {
  text-align: center;
  color: chocolate;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 60px;
  background-image: url("https://images.unsplash.com/photo-1516746924755-babd21844370?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3ByaW5rbGVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-position: cover;
  background-repeat: repeat;
}

nav a {
  padding: 10px;
  text-decoration: none;
  display: inline-flexbox;
  float: inline-end;
  background-color: chocolate;
  color: #3d3d3d;
  border-radius: 4px;
  margin: 2px;
}

nav a:hover {
  color: white;
  background-color: #42545c;
}
nav a.active {
  background-color: black;
}
