<h1 class="snack-shack-welcome">Welcome to the Snack Shack!</h1>
<p class="snack-shack-intro">
  Here is where you can see the items you have purchased, ask questions about
  menu items, be entered into the monthly contests, and check your rewards
  points, redeem rewards, and join in the snack shack party, a forum that lets
  fellow Snack Shackers converse amongst themselves. Create a user profile if
  your are new here, add a profile picture, say why you love sweets, add a theme
  song with Spotify. It's free to join
</p>
<div class="create-profile">
  <button class="created" routerLink="/my-snack-shack">Create Profile</button>
</div>
