<h1 class="my-snack-shack-dashboard">
  {{ model.userName }} Snack Shack Dashboard
</h1>
<div class="user">
  <p class="user-headline">
    My name is Nicholas, I have the biggest sweet tooth
  </p>
</div>
<img class="user-img" src="./assets/IMG_0356.jpg" />
<div class="points">
  <h1 class="points-header">
    Reward Points:
    <br />
    {{ model.rewardPoints }}
  </h1>
</div>
<div class="user-flavors">
  <h1 class="favorite-flavors">
    Favorite Flavors:
    <br />
    {{ model.favoriteFlavors }}
  </h1>
</div>
