<h1 class="page-intro">Welcome to the Snackbar</h1>
<h3 class="quote">"Desserts are supposed to be whimsical"-Graham Elliot</h3>
<img class="image" src="./assets/IMG_0356.jpg" />
<p class="intro">
  Hello, thanks for checking out The Snackbar. Here you find delicious sweet
  treats ranging from cakes/cupcakes, ice cream, and delicious chocolate
  truffles. Taking inspiration from well known pastry chefs Christina Tosi,
  Nadine Donovan, and Candace Nelson. Sweet tooth laden Nicholas Maas the
  proprietor of The Snackbar decided to make his own creations. Using the
  freshest quality ingredients made in his own home kitchen, lets just say there
  was some extra time spent at the gym during the phases of some of these items.
  Having learned some patisserie techniques throughout his life, Nicholas Maas
  applied what he knows to quality sweets that will satisfy your cravings, and
  leave you wanting more.
</p>
